:root {
  --50: #f9fafb;
  --100: #f3f4f6;
  --200: #e5e7eb;
  --300: #d1d5db;
  --400: #9ca3af;
  --500: #6b7280;
  --600: #4b5563;
  --700: #374151;
  --800: #1f2937;
  --900: #111827;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html,
body {
  margin: 0px;
  height: 100%;
  font-family: "Lobster", "Times New Roman", sans-serif;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header-container {
  grid-row: 1 / span 1;
  height: 100%;
  background-color: var(--900);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--100);
}

.main-content {
  grid-row: 2 / span 1;
  height: 100%;
  background-color: var(--100);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.book-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, 1fr);
  gap: 15px;
}

.book-card {
  width: 250px;
  margin: 10px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--600);
  color: var(--100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.book-card > * {
  padding: 5px;
  font-size: 14px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.book-card > button {
  border-color: var(--900);
  box-shadow: var(--box-shadow);
  background-color: var(--100);
  color: var(--600);
  margin-top: 15px;
}

.book-card > button:first-of-type {
  color: var(--100);
  cursor: pointer;
}

#removeBtn:hover {
  color: red;
  cursor: pointer;
}

.read-button {
  width: 100px;
}

.book-cards h2 {
  font-size: 18px;
  font-weight: bold;
}

.button-container {
  margin-top: 15px;
}

.form-container {
  position: absolute;
  background-color: var(--100);
  padding: 30px 30px 15px 30px;
  border-radius: 5px;
}

.form-header {
  text-align: center;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: bolder;
}

.labels-inputs {
  display: flex;
  flex-direction: column;
}

.labels-inputs > div {
  margin: 0 15px 15px 15px;
}

.labels-inputs > div > label,
input {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 12px;
}

.read-container {
  text-align: center;
}

.read-container input {
  height: 1rem;
}

.add-book-btn {
  margin-left: 15px;
  border-radius: 5px;
  border-color: var(--900);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.hidden {
  display: none;
}

.form-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.close-btn:hover,
.button-container button,
.add-book-btn:hover,
.material-icons:hover {
  cursor: pointer;
}
